.parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner {
	display: flex;
	flex-direction: column;
	border: solid gray 2px;
	border-radius: 16px;
	margin: 20px;
	padding: 20px;
}

.inner * {
	margin: 10px;
}

.inner input {
	padding: 10px;
	border: 3px solid #202020;
	border-radius: 10px;
}
